/* Navbar transparente por defecto */
.navbar.transparent-header {
    background-color: transparent !important;
    transition: all 0.3s ease;
}

/* Navbar con color al hacer scroll */
.navbar.transparent-header.shrink {
    background-color: rgb(0, 33, 91) !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Links del navbar */
.navbar-nav .nav-link {
    font-size: 1.3rem;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    letter-spacing: 0.1px;
    font-family: 'Montserrat', sans-serif;
}
.cabecera {
    background-image: url("https://arquitecte.oceanwp.org/wp-content/uploads/2023/04/discussing-blueprint-scaled-1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 114vh;
    margin-top: -115px;
}

.cabecera::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 33, 91, 0.70) 0%, rgba(210, 21, 61, 0.70) 100%);
    z-index: 1;
}

.cabecera-content {
    position: relative;
    z-index: 2;
}

.stats-box {
    background-color: rgba(0, 33, 91, 0.95);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 16rem;
    width: 42rem;
}

.navbar-link{
    color: blue;
    text-align: right;
}

.icon-outlined {
    color: #e63946; /* Rojo para el borde */
    background-color: #00215b; /* Azul para el fondo */
    -webkit-text-stroke: 2px #e63946; /* Borde rojo */
    -webkit-text-fill-color: #00215b; /* Interior azul */
}