/* Navbar transparente por defecto */
.navbar.transparent-header {
    background-color: transparent !important;
    transition: all 0.3s ease;
}

/* Navbar con color al hacer scroll */
.navbar.transparent-header.shrink {
    background-color: rgb(0, 33, 91) !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Links del navbar */
.navbar-nav .nav-link {
    font-size: 20px;
    letter-spacing: 0.08em;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding-bottom: 8px;
}

/* Efecto de barra inferior con transición */
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #ff0000;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
}

/* Mostrar la barra al pasar el ratón */
.navbar-nav .nav-link:hover::after {
    transform: scaleY(1);
}

/* Excluir el icono de búsqueda del efecto */
.navbar-nav .nav-link:has(.fa-search)::after {
    display: none;
}
.cabecera {
    background-image: url("https://arquitecte.oceanwp.org/wp-content/uploads/2023/04/discussing-blueprint-scaled-1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 114vh;
    margin-top: -115px;
}

.cabecera::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 33, 91, 0.70) 0%, rgba(210, 21, 61, 0.70) 100%);
    z-index: 1;
}

.cabecera-content {
    position: relative;
    z-index: 2;
}

.stats-box {
    background-color: rgba(0, 33, 91, 0.95);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 16rem;

    width: 100%;
    max-width: 49rem;
}

@media (max-width: 991px) {
    .stats-box {
        max-width: 100%;
        border-radius: 0;  
    }
}


#logo {
    height: 70px;                 
    transition: all 0.5s ease;    
}

.navbar.transparent-header.shrink #logo {
    height: 45px;                 
}



.hover-img {
    transition: transform 1.5s ease, filter 1.5s ease;
}

.hover-img:hover {
    transform: scale(0.9);
}

.hover-icon {
    transition: transform 0.5s ease, filter 0.5s ease;
}

.hover-icon:hover {
    transform: scale(0.9);
}



.navbar-link{
    color: blue;
    text-align: right;
}

.icon-outlined {
    color: #e63946; 
    background-color: #00215b; 
    -webkit-text-stroke: 2px #e63946; 
    -webkit-text-fill-color: #00215b; 
}