/* Solo estilos que no se pueden hacer con Bootstrap */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    font-size: 20px;
    background-color: rgb(0, 33, 91);
}

.navbar.scrolled {
    background-color: rgb(0, 33, 91) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.cabecera {
    background-image: url("https://arquitecte.oceanwp.org/wp-content/uploads/2023/04/discussing-blueprint-scaled-1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.cabecera::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 33, 91, 0.70) 0%, rgba(210, 21, 61, 0.60) 100%);
    z-index: 1;
}

.cabecera-content {
    position: relative;
    z-index: 2;
}

.stats-box {
    background-color: rgba(0, 33, 91, 0.95);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 15rem;
}

#logo {
    height: 80px;           /* tamaño inicial */
    transition: height 0.3s ease;
}


@media (max-width: 100vh) {

  /* Fondo blanco del menú desplegado */
  .navbar-collapse {
    background-color: #ffffff;
    width: 100%;
    padding: 1rem 1.5rem;
    font-family:'Roboto', sans-serif;;
  }

  /* Links en negro */
  .navbar-collapse .nav-link {
    color: #333 !important;
    padding: 12px 0;
    border-bottom: 1px solid #f1f1f1;
  }

  /* Iconos */
  .navbar-collapse i {
    color: #333 !important;
  }

  /* Quita márgenes raros */
  .navbar-collapse ul {
    align-items: flex-start !important;
  }
}

@media (min-width: 992px) {
  #navbarNav {
    margin-right: 350px;
  }
}
