.navbar{
  background: transparent;
}
.navbar.stiky-top{
    background-color: rgb(0, 33, 91);
}

.cabecera {
    background-image: url("https://arquitecte.oceanwp.org/wp-content/uploads/2023/04/discussing-blueprint-scaled-1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.cabecera::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 33, 91, 0.70) 0%, rgba(210, 21, 61, 0.60) 100%);
    z-index: 1;
}

.cabecera-content {
    position: relative;
    z-index: 2;
}

.stats-box {
    background-color: rgba(0, 33, 91, 0.95);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 15rem;
}



